/* Define our color scheme.  */
:root {
  --unselected-foreground: rgb(230,183,135); /* powder blue */
  --unselected-background: rgb(53, 6, 99); /* west coast */
  --selected-foreground: rgb(71, 17, 95); /* scarlet gum */
  --selected-background: rgb(202, 208, 101); /* Tacha */
  --link-foreground: white;
}

/* Selected items change color.  */
::selection {
    background-color: var(--selected-background);
    color: var(--selected-foreground);
}

/* The header goes at the top of the page, and 
 * remains there during scrolling.  */
header {
    background: var(--unselected-background);
    color: var(--unselected-foreground);
    position: fixed;
    top: 0;
    width: 100%;
}

/* The list of links is displayed left-to-right 
* at the top right side of the page.  */
.links  {
    list-style-type: none;
    float: right;
}

.links > li {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.links > li > a {
    color: var(--link-foreground);
}

body {
    min-height: 100%;
    background: var(--unselected-background);
}

/* Make my name stand out.  */
.name {
    font-size: 50px;
    float: left;
}

/* Place the main body of the text below the header.  */
#main {
    margin-top: 110px;
    color: var(--unselected-foreground);
}

#main a {
    color: var(--link-foreground);
}

/* Each section in main has a title on the left and 
 * other material on the right.  */
.main_section {
    display: flex;
    flex-direction: row;
}

.main_section > img {
    margin: 5px;
    width: 100px;
}

.main_section > p {
    text-align: justify; 
}

/* Place the section titles in large type, and leave 
 * room for the largest so the description paragraphs 
 * line up.  */
.title > p {
    margin-right: 20px;
    font-size: 25px;
    width: 125px;
}

/* Within the portfolio section, the items appear from
 * left to right, wrapping onto multiple lines as needed.
 */
 .portfolio-row {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
 }

 /* Assume a small screen and use just one column.  We will use
  * media queries to adjust for a wider screen.  */
 .portfolio-column {
    padding: 10px;
    border-style:solid;
    border-width:1px;
    flex: 1 0 100%;
    transition: flex-basis 1000ms linear;
 }

 /* Boxes with long URLs need more space.  */
.portfolio-wide {
    min-width: 300px;
}

 .portfolio-item > img {
     float: left;
     margin-right: 5px;
     width:50px;
 }

 .portfolio-item > p {
     display:inline;
     text-align: justify;
 }

/* Wide screens get two items per column.  */
 @media screen and (min-width: 768px) {
     .portfolio-column {
         flex: 0 0 50%;
         max-width: 50%;
     }
     
     .portfolio-column:last-child {
         flex-grow: 1;
     }
     
 }

 /* Even wider screens get three.  */
 @media screen and (min-width: 992px) {
     .portfolio-column {
         flex: 0 0 33.333%;
         max-width: 33.333%;
     }
 }